@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  section {
    @apply container py-8 lg:py-16;
  }
  h2 {
    @apply font-header bg-clip-text text-5xl font-bold text-transparent;
  }
}

input:focus {
  outline: 0px none transparent;
}

@property --deg1 {
  syntax: "<angle>";
  inherits: false;
  initial-value: -10deg;
}

@property --deg2 {
  syntax: "<angle>";
  inherits: false;
  initial-value: 10deg;
}

@property --deg3 {
  syntax: "<angle>";
  inherits: false;
  initial-value: 20deg;
}

@property --deg4 {
  syntax: "<angle>";
  inherits: false;
  initial-value: 22deg;
}

@keyframes wave {
  0% {
    --deg1: -10deg;
    --deg2: 10deg;
    --deg3: 20deg;
    --deg4: 22deg;
  }
  50% {
    --deg1: -7deg;
    --deg2: 7deg;
    --deg3: 16deg;
    --deg4: 14deg;
  }
  100% {
    --deg1: -10deg;
    --deg2: 10deg;
    --deg3: 20deg;
    --deg4: 22deg;
  }
}

.gradient {
  background-image: repeating-linear-gradient(
      var(--deg1),
      #09cdf963 200px,
      #7fcec563 300px,
      #045de963 400px,
      #09c6f963 600px
    ),
    repeating-linear-gradient(
      var(--deg2),
      #09c5f969 150px,
      #045de981 250px,
      #7fcec581 350px,
      #09c6f969 450px
    ),
    repeating-linear-gradient(
      var(--deg3),
      #09c5f963 100px,
      #045de981 200px,
      #7fcec581 300px,
      #09c6f963 400px
    ),
    repeating-linear-gradient(
      var(--deg4),
      #09c6f981 150px,
      #045de969 250px,
      #7fcec569 400px,
      #09c6f981 500px
    );
  animation: wave 2s infinite ease-in-out;
}

.gradient-webkit {
  background-image: -webkit-repeating-linear-gradient(
      100deg,
      #09cdf963 200px,
      #7fcec563 300px,
      #045de963 400px,
      #09c6f963 600px
    ),
    -webkit-repeating-linear-gradient(120deg, #09c5f969 150px, #045de981 250px, #7fcec581
          350px, #09c6f969 450px),
    -webkit-repeating-linear-gradient(130deg, #09c5f963 100px, #045de981 200px, #7fcec581
          300px, #09c6f963 400px),
    -webkit-repeating-linear-gradient(132deg, #09c6f981 150px, #045de969 250px, #7fcec569
          400px, #09c6f981 500px);
  animation: flow 2.5s infinite ease-in-out;
}

.gradient-moz {
  background-image: -moz-repeating-linear-gradient(
      100deg,
      #09cdf963 200px,
      #7fcec563 300px,
      #045de963 400px,
      #09c6f963 600px
    ),
    -moz-repeating-linear-gradient(120deg, #09c5f969 150px, #045de981 250px, #7fcec581
          350px, #09c6f969 450px),
    -moz-repeating-linear-gradient(130deg, #09c5f963 100px, #045de981 200px, #7fcec581
          300px, #09c6f963 400px),
    -moz-repeating-linear-gradient(132deg, #09c6f981 150px, #045de969 250px, #7fcec569
          400px, #09c6f981 500px);
  animation: flow 2.5s infinite ease-in-out;
}
