<h2 style="padding-bottom: 1rem;">Hi hacker!</h2>
<p style="padding-bottom: 0.5rem;">We noticed that you have an incomplete registration and wanted to let you know
  that registration closes in just 48 hours! Don't miss out on this season's only MLH Member Event organized by and for
  high school students, with free food and shirts and over $10,000 in prizes including Nintendo Switches, gaming
  keyboards, Beats wireless earbuds, $1k+ in cash, and more.</p>
<p>
  Learn more, see our full schedule, and register at <a style="text-decoration: underline;"
    href="https://www.hackthenest.org/" target="_blank">hackthenest.org</a>!
</p>
<p style="padding-top: 1rem;">- Hack the Nest Team 🪺</p>