<h2 style="padding-bottom: 1rem;">Hi {{ name }}!</h2>
<p style="padding-bottom: 0.5rem;">Thank you for registering for Hack the Nest - we're so excited to see you in the
  future!</p>
<p>
  Please be on the lookout for more details on the exact event location, date, and RSVP via email, social media (linked
  below), and our
  <a href="https://www.hackthenest.org/" target="_blank">website</a>
  as the event approaches, and feel free to let us know at hello@hackthenest.org if you have any questions.
</p>
<p style="padding-top: 1rem;">- Hack the Nest Team 🪺</p>