<h2 style="padding-bottom: 1rem;">Hi hackers,</h2>
<p style="padding-bottom: 0.5rem;">
  We regret to inform you that Hack the Nest has been postponed due to unexpected venue difficulties which came up just
  a few days ago. The team has been working hard to secure a new venue for this weekend, but unfortunately it
  wasn&apos;t possible with the little time we had left. We will continue to search in the area and reschedule to the
  next earliest date.
</p>
<p style="padding-bottom: 0.5rem;">
  Our current target is this November; however finding a new venue is a very complex process and we cannot
  guarantee anything yet. An email will be sent out and our website will be updated with an exact date and location as
  soon as we confirm the details.
</p>
<p style="padding-bottom: 0.5rem;">
  We understand your frustration with this last minute change, but the additional time will only
  allow Hack the Nest to be better than it could have been this weekend. If you were really looking forward to attending
  a hackathon this weekend, consider checking out
  <a href="https://www.hackumbc.tech/">
    HackUMBC
  </a>, who still has their registration open at the time of this email.
</p>
<p>
  We hope to finally see you at Hack the Nest in the future. Until then, please let us know if you have any questions.
</p>
<p style="padding-top: 1rem;">- Hack the Nest Team 🪺</p>