<h2 style="padding-bottom: 1rem;">Hi hackers!</h2>
<!--<p style="padding-bottom: 0.5rem;">We noticed that you have an incomplete hacker registration and wanted to let you know-->
<!--  that registration closes in just 48 hours! Don't miss out on this season's only MLH Member Event organized by and for-->
<!--  high school students, with free food and shirts and over $10,000 in prizes including Nintendo Switches, gaming-->
<!--  keyboards, Beats wireless earbuds, $1k+ in cash, and more.</p>-->
<!--<p>-->
<!--  Learn more, see our full schedule, and register at <a style="text-decoration: underline;"-->
<!--    href="https://www.hackthenest.org/" target="_blank">hackthenest.org</a>!-->
<!--</p>-->
<p style="padding-bottom: 0.5rem;">We have the news you've been waiting for --- Hack the Nest is returning this Spring!</p>

<p style="padding-bottom: 0.5rem;">Hack the Nest 2025 is scheduled for April 5-6 in Tysons Corner, at the same venue as the 2023 event. The full address is Intelligent Office Tysons 1934 Old Gallows Rd, Vienna, VA 22182. We hope to see you for another 36 hours packed with new workshops, mini-events, and project tracks! Register for the 2025 event at our <a href="https://hackthenest.org">website</a>.</p>

<p style="padding-bottom: 0.5rem;">We truly could not express enough our appreciation for our previous attendees, and we hope to see you again this year :). If you have any questions, feel free to join our <a href="https://discord.gg/qGdRtYMgNK">Discord</a>, or shoot us an email at <a href="mailto:hello@hackthenest.org">hello@hackthenest.org</a>. And, stay updated with our <a href="https://linktr.ee/hackthenest">socials</a> for more details regarding schedule, prizes, and more. </p>

<p style="padding-top: 1rem;">- Hack the Nest Team 🪺</p>