<h2 style="padding-bottom: 1rem;">Hi Hacker!</h2>
<p style="padding-bottom: 0.5rem;">
  Hack the Nest is exactly TWO WEEKS away! This means RSVP is now open - confirm your spot via your
  <a style="text-decoration: underline;" href="https://www.hackthenest.org/dashboard" target="_blank">dashboard</a>
  by September 20. Don't miss out on this season's only MLH Member Event organized by and for high school students, with
  free food and shirts and over $10,000 in prizes including Nintendo Switches, gaming keyboards, Beats wireless earbuds,
  $1k+ in cash, and more!
</p>
<p style="padding-bottom: 0.5rem;">
  Worried about transportation? Take a look at
  <a style="text-decoration: underline; padding-bottom: 0.5rem;" href="https://gas.hackclub.com/" target="_blank">
    Hack Club's new Gas Fund initiative
  </a>
  for free travel reimbursements!
</p>
<p style="padding-bottom: 0.5rem;">
  Finally, the registration deadline has been extended until September 14! If you have already registered, remember to
  bring your friends along! In case they are unsure, keep in mind that the majority of hackers will be first-time
  participants beginners in coding, and don't forget all the free food, shirts, prizes, and more :&rpar;</p>
<p>
  Learn more, see our full schedule, and register at
  <a style="text-decoration: underline;" href="https://www.hackthenest.org/" target="_blank">hackthenest.org</a>.
  See you in Sterling!
</p>
<p style="padding-top: 1rem;">- Hack the Nest Team 🪺</p>