<h2 style="padding-bottom: 1rem;">Hi {{ name }}!</h2>
<p style="padding-bottom: 0.5rem;">Thank you for registering to be a volunteer at Hack the Nest - we're so excited to
  see you in Sterling this September!</p>
<p>Our team will be in contact with you shortly regarding the next steps. Please note that background checks for all
  volunteers are required by our venue for security purposes - feel free to let us know if you have any questions.</p>
<p style="padding-top: 1rem;">- Hack the Nest Team 🪺</p>